/* **************** base **************** */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #1f2230;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

#container {
    height: auto;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    border-radius: 20px;
    padding: 30px;
    margin: 16px;
    box-shadow: inset 1px 2px 0px rgb(255, 255, 255 , 18%), inset -2px -2px 2px rgb(0, 0, 0 , 65%);
}

/* **************** game start page **************** */
#start-page h2, #winner h2 {
    font-size: 24px;
    color: #cdcfdb;
}
#start-page #line {
    height: 1px;
    width: 100%;
    background-color: #cdcfdb;
    margin: 20px 0;
}
#start-page h4{
    font-size: 18px;
    text-transform: capitalize;
    color: #b9b9c5;
}
#start-page #button {
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
}
#button button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #29cde0;
    color: #2b4d47;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    margin-bottom: 16px;
    transition: all .5s;
}

#start-page #button button:first-child {
    margin-right: 40px;
}

#start-page #button button:hover,
#winner #button button:hover {
    transform: scale(0.90);
}

/* **************** game place page **************** */
#game-page {
    height: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
    display: none;
}

#game-page #header-btn {
    height: 50px;
    width: 250px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255, 255, 255, 26%), -2px -2px 5px rgb(0, 0, 0 , 87%);
}

#game-page #header-btn button{
    height: 50px;
    width: 125px;
    border-radius: 50px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .60);
}

#game-page #header-btn #O-turn {
    left: 125px;
    z-index: 3;
}
#show-change {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 125px;
    border-radius: 50px;
    background: #29cde0;
    z-index: 1;
    transition: .2s;
}

/* **************** game place **************** */
#game-place {
    height: 290px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    place-items: center;
}

.box {
    height: 70px;
    width: 70px;
    box-shadow: 2px 2px 2px rgb(255, 255, 255, 26%), -2px -2px 5px rgb(0, 0, 0 , 26%);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.box i {
    font-size: 60px;
    color: #29cde0;
}

/* **************** game winner page **************** */
#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
#winner #button {
    margin-top: 20px;
}